<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>吹奏楽部高専祭計算ソフト</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="app">
    <h1>吹奏楽部高専祭計算ソフト</h1>
    <label v-for="label in options" >
      <input type="radio"
        v-model="current"
        v-bind:value="label.value">{{ label.label }}
    </label>
    <table>
      <thead v-if="!vif">
        <tr>
          <th class="id">順番</th>
          <th class="comment">履歴</th>
          <th class="state">状態</th>
          <th class="button">-</th>
        <p v-if="!vif">コントロールを押しながらクリックで削除</p>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="item in computedTodos"
          v-bind:key="item.id"
          v-bind:class="{done:item.state}">
          <th>{{ item.id }}</th>
          <td>{{ item.comment }}</td>
          <td class="state">
            <h5>
              {{ labels[item.state] }}
            </h5>
          </td>
          <td class="button">
            <button v-on:click.ctrl="doRemove(item)">
              削除
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div v-if="vif">
      <h2>商品</h2>
      <ul>
        <li v-for="shouhin in goods" v-bind:key="shouhin.name">
          {{shouhin.name}}の個数: <input type="number" v-on:input="shouhin.quantity=$event.target.value" v-bind:value="shouhin.quantity" min="0">
        </li>
      </ul>
      <h2>合計{{totalPrice}}円</h2>
      <h4>お預かり<input type="number" min="0" v-model="oazukari">円</h4>
      <h4>おつり{{oazukari-totalPrice}}円</h4>


      <form class="add-form" v-on:submit.prevent="doAdd">
        <input type="text" ref="comment" :value="siki">
        <button type="submit">会計済みにする</button>
      </form>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js"></script>
</body>
</html>
